/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* box template */
.box {
  border-radius: 68px;
  background: #140029;
  box-shadow: 31px 31px 44px #3d0179, -31px -31px 44px #190034;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin: 20px;

  animation: box 0.4s liner;
}
.box:hover {
  transform: translateX(0px) translateY(85px);
}
.box {
  transition: transform 500ms ease-in-out 25ms;
}
body {
  background-color: #140029;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 3px 2px 23px rgb(249, 240, 255);
  font-size: 20px;
}
/* navbar */
#navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  height: 3em;
  background-color: rgba(15, 0, 20, 0.227);
  text-shadow: 2px 2px 2px rgb(188, 119, 213);
  color: rgba(43, 98, 226, 0.786);
  font-size: 20px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  list-style-type: none;
  padding: 14px 16px;
}

#topnav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
#topnav > li {
  padding-right: 20px;
}
#topnav > li > :link {
  text-decoration: none;
  border: none;
}
.drp > ul {
  display: none;
}
.drp:hover > ul {
  display: block;
  background-color: rgba(240, 255, 255, 0.123);
  list-style-type: none;
}
.dp > ul {
  display: none;
}
.dp:hover > ul {
  display: block;
  background-color: rgba(240, 255, 255, 0.123);
  list-style-type: none;
}
/* title styles */
#title {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-image: url("./images/pexels-warren-bradley-3212378.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 2px rgb(188, 119, 213);
  font-size: 20px;
}
#title > h2 {
  width: 65vw;
}
.tpdout {
  overflow: hidden;
  border-right: 0.15em solid rgb(0, 0, 0);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 5s steps(30, end), blink-caret 0.75s step-end infinite;
  animation-iteration-count: infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
/* about styles */
#about {
  height: 100vh;
  display: flex;
  align-items: center;
}
#ab1 {
  width: 47%;
  height: 80vh;
  /* border-radius: 68px;
  background: #140029;
  box-shadow: 31px 31px 44px #3d0179, -31px -31px 44px #190034; */
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  align-content: f;
}
/* #ab1 > meter {
} */
#bas {
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  align-content: flex-start;
  font-size: 01.5rem;
}
#ab2 {
  width: 47%;
  height: 80vh;
  font-size: 20px;
}
#ab2 > p {
  padding-top: 20px;
}
#pp {
  width: 300px;
  aspect-ratio: 1;
}
#srv {
  height: 120vh;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
#content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
}
#content > div {
  border: 10px solid #3d0179;
  border-radius: 10%;
  margin: 10px;
  width: 28%;
  /* border-radius: 10%; */
}
#stat {
  height: 50vh;
  width: 96vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
#portfolio {
  height: 120vh;
}
#pc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#pc > div {
  width: 28%;
}
#t1 {
  display: flex;
  /* background-color: blueviolet; */
  max-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tpp {
  aspect-ratio: 1;
  width: 350px;
  border-radius: 50%;
  opacity: 0.8;
  display: flex;
  justify-content: center;
}
#tt {
  width: 600px;
  text-align: center;
  font-size: 20px;
}
#blog {
  height: 120vh;
}
#card > p {
  padding-top: 20px;
}
#bc {
  padding-top: 40px;
  font-size: 20px;
  display: flex;
}
#card {
  margin-bottom: 20px;
}
/* contact */
#contact {
  display: flex;
  justify-content: space-between;
  height: 98vh;
}
/* contact form */
#form {
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
#cinfo {
  height: 90%;
  width: 40%;
}
/* footer */
.footer {
  background-color: rgba(15, 0, 20, 0.227);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes box {
  0% {
    transform: translateZ(0px);
  }
  100% {
    transform: translateZ(3px);
  }
}

/* media query */
