/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar */
#navbar {
  /* position: fixed; */
  /* width: 100vh; */
  z-index: 5;
  display: flex;
  justify-content: space-between;
  /* scroll-behavior: smooth; */
  height: 3em;
  background-color: blueviolet;
  text-shadow: 2px 2px 2px rgba(44, 240, 240, 0.303);
  color: blueviolet;
  font-size: 2rem;
}

.topnav {
  display: flex;
  justify-content: space-evenly;
  scroll-behavior: smooth;
  list-style-type: none;
  padding: 0.5em;
}
.lnd {
  height: 100vh;
  width: 100vw;
}
.tpdout {
  overflow: hidden;
  border-right: 0.15em solid rgb(0, 0, 0);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 5s steps(30, end), blink-caret 0.75s step-end infinite;
  animation-iteration-count: infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
/* about styles */
.about {
  height: 100vh;
}
#pp {
  width: 200px;
  aspect-ratio: 1;
}
.srv {
  height: 120vh;
}
.stat {
  height: 50vh;
}
.portfolio {
  height: 120vh;
}
.testimonial {
  height: 50vh;
  width: 200vw;
  display: flex;
  justify-content: center;
}
/* testimnial intersection */
#testimonial {
  width: 100vw;
  display: flex;
}

.blog {
  height: 120vh;
}
/* contact */
.contact {
  display: flex;
  height: 98vh;
  background-color: rgba(155, 86, 219, 0.675);
}
/* contact form */
#form {
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(0, 255, 255, 0.178);
}
/* footer */
.footer {
  background-color: rgba(155, 86, 219, 0.675);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* media query */
